/*  your css code here. If applicable */
.container{
	display:grid;
	grid-template-columns:1fr 1fr;
	
	gap:2em;
	justify-content:center;
	align-items:center;
}
.hero
{
	display:grid;
	justify-content:center;
	align-items:center;
}

#btn1
{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:5px;
	border:none;
}

.img{
	object-fit: cover;
	max-width:100%;
}